@import url('https://fonts.googleapis.com/css2?family=Righteous&display=swap');

*{
    font-family: 'Righteous', cursive;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    min-zoom: 80%;

    /* background-color: #adeff4; */
}
